/*共通*/
html {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: #222222;
}

input, select, textarea {
  color: #222222;
}

li {
  list-style: none;
}

.sp-br {
    display: inline;
}

.contents-tidy {
    display: flex;
}

.content-width {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

a {
    color: #222;
    text-decoration: none;
}

/*link-button*/
.link-button.menu {
    height: 40px;
    font-size: 12px;
}

.link-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: none;
}

/*---------------------------*/

/*---------------------------*/
/*HEADER*/

.header-logo > .header-logo-pc {
    width: auto;
    height: 20px;
    padding-right: 200px;
}

.site-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-nav-list.contents-tidy {
    align-items: center;
}

.header-nav .header-nav-item > span:first-child {
    font-family: 'Lato', sans-serif;
}

.header-nav .header-nav-item > span {
    display: block;
    font-weight: bold;
    text-align: center;
}

.header-nav .header-nav-item > span:last-child {
    font-size: 10px;
}

.header-button {
    width: 150px;
}

.header-nav-hamburger {
    display: none;
}

.header-logo > .header-logo-sp {
    display: none;
}

.header-nav .header-nav-item.current {
    color: #f79314;
}

.header-nav .header-nav-list > li + li {
    margin-left: 30px;
}

/*コース・料金*/
.section-underlayer-hero.course {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-pc.png);
}

.section-underlayer-hero {
    padding-top: 70px;
    padding-bottom: 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    background-color: #f79314;
}

.underlayer-hero-heading.course {
    padding-left: 145px;
}

.underlayer-hero-heading {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-left: 110px;
}
/*---------------------------*/


/*POTEPAN CANPコースについて*/
.section-header.contents-tidy {
    flex-direction: column;
    align-items: center;
}

.section-header {
    width: 100%;
}

.section-main-heading {
    font-size: 46px;
    font-weight: bold;
}

.section-header h2 > span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.section-header.bottom-line::after {
    content: '';
    display: block;
    border-bottom: solid 6px #f79314;
    width: 50px;
    margin-top: 20px;
}

.main-section.course-detail {
    background-color: #fcfaf5;
}

.main-section {
    padding-top: 75px;
    padding-bottom: 80px;
}

.main-section .section-header + .section-content {
    margin-top: 60px;
}

.detail-text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.detail-text--emphasis {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
}

.under-decoration {
    background: linear-gradient(transparent 70%, #fff79d 70%, #fff79d);
    word-wrap: break-word;
}


















